/* ================================= 
  Base Element Styles
==================================== */

body {
	line-height: 1.6;
    color: #3a3a3a;

}

a { 
	color: #fff;
	text-decoration: none;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
    margin: 0;
}

/* ---- Layout Containers ---- */

.container {

}

.main-header {
	background: #3acec2;
}

.main-footer {
    text-align: center;
	padding: 2em 0;
	background: #d9e4ea;
}

/* ================================= 
    Media Queries
==================================== */

/* Everything outside of the media queries get applied to all devices */
/* Only those rules within the media query will be device specific */
@media (min-width: 769px) {
/* Targets any devices who's screen width is 769px or wider */
    .container{
        width: 70%;
        margin: 0px auto;

        max-width: 1000px;
        /* This ensures the layout does not go stretch to beyond 1000 pixels in larger screens */
    }

}